<footer class="footer bg-dark py-3 mt-auto">
	<div class="container">
		<span style="color: white;">&copy; Assad Anabosi 2022</span>
		<% if(currentUser) { %>
			<div style="color: white;">Currently logged in as <%=currentUser.username%>
					</div>
					<% } %>
			</div>
</footer>