<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Manager</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<% if(currentUser) {%>
					<li class="nav-item">
						<a class="nav-link" href="/logs">Logs</a>
					</li>
					<% if(currentUser.isAdmin || currentUser.isSuper) {%>
						<li class="nav-item">
							<a class="nav-link" href="/bills">Bills</a>
						</li>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/workers">Workers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/payees">Payees</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/cheques">Cheques</a>
						</li>

						<% }} %>
			</ul>
			<% if (!currentUser) {%>
				<a class="btn btn-outline-success btn-lg" type="button" href="/login">Login</a>
				<% } else { %>
					<div class="px-3">
						<% if(currentUser.isAdmin || currentUser.isSuper) {%>
							<a class="btn btn-outline-success btn-lg" style="display:none;" id="new-btn" type="button"
								href="#"></a>
							<% } %>
								<a class="btn btn-outline-success btn-lg" type="button" href="/logout">Logout</a>
					</div>
					<% } %>
		</div>
	</div>
</nav>