<form class="" method="GET" action="/cheques">
	<div class="d-flex">
		<div class="d-inline me-3 mb-3">
			<label class="form-label" for="since">Start</label>
			<input class="form-control" type="date" name="since" <% if(!dates.null) { %>
			value="<%= dates.since %>"
				<% } %>
					>
		</div>
		<div class="d-inline me-3 mb-3">
			<label class="form-label" for="till">End</label>
			<input class="form-control" type="date" name="till" <% if(!dates.null) { %>
			value="<%= dates.till %>"
				<% } %>
					>
		</div>
		<div class="d-inline my-2">
			<label class="form-label" for="search"></label>
			<button class="btn btn-success form-control" type="submit">Search</button>
		</div>
	</div>
</form>