<% layout("layouts/boilerplate")%>

	<div class="row">
		<h1 class="text-center">
			Logs Page!
		</h1>
		<table class="table table-striped table-hovers mt-3">
			<thead>
				<th>Date</th>
				<% if(currentUser.isAdmin || currentUser.isSuper) { %>
					<th>Worker Name</th>
					<% } %>
						<th>Absence</th>
						<th></th>
			</thead>
			<tbody>
				<% for(let log of logs) {%>
					<tr>
						<th>
							<%= log.date.toISOString().substring(0, 10)%>
						</th>
						<% if(currentUser.isAdmin || currentUser.isSuper) { %>
							<th>
								<%= log.worker.name %>
							</th>
							<% } %>
								<th>
									<input type="checkbox" <% if(log.isAbsence) {%>
									checked
									<% } %>
										disabled
										>
								</th>
								<th>
									<a class="btn btn-primary btn-sm" href="/logs/<%=log._id%>">View</a>
									<% if(currentUser.isAdmin) { %>
										<form class="d-inline px-3" method="POST"
											action="/logs/<%=log._id%>?_method=DELETE">
											<button class="btn btn-sm btn-outline-danger">
												Delete
											</button>
										</form>
										<% } %>
								</th>
					</tr>
					<% } %>
			</tbody>
		</table>
	</div>